<h1>Authenticated</h1>

<table>
    <tr>
        <td>Email:</td>
        <td><%= @details["info"]["email"] %></td>
    </tr>
    <tr>
        <td>Access token</td>
        <td><%= @details["credentials"]["token"] %></td>
    </tr>
    <tr>
        <td>Refresh token</td>
        <td><%= @details["credentials"]["refresh_token"] %></td>
    </tr>
    <tr>
        <td>Expires at</td>
        <td><%= @details["credentials"]['expires_at'] %></td>
    </tr>
</table>
